body{
    margin: 0 auto;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 300px;
}

label{
    color: #5f9341;
    font-weight: bold;
}

input{
    border: #5f9341 solid 2px;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

button{
    margin-top: 1px;
    border-radius: 2px;
    width: 147px;
    padding: 7px;
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    border: 1px solid #5f9341;
}
button:hover{
    background-color: #41981e;
    transition-duration: 0.5s;
}

#delete-btn{
    background-color: white;
    color: #5f9341;
}
#delete-btn:hover{
    background-color: #d34a49;
    color: white;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

a{
    color: #5f9341;
}
